body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

.top-banner {
    height: 550px;
    background-image: url(images/donation13.png);
    background-size: cover;

}

h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 8%;
}

h4 {
    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align: center;
}

h5 {
    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align: center;
    padding-top: none;
}

.text-center {
    text-align: center;
    font-size: 20px;
    border-radius: round;
}

.text-center1 {
    text-align: center;
    font-size: 25px;
    border-radius: round;
    border-color: tomato;
    padding-top: 50px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

h6 {
    text-align: center;
    padding: none;
}

.button {
    text-align: center;

}

.darkbkack {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    color: blue;
}

.flexible-container {
    padding: 20px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;

}

.experience-item1 {
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    background-color: lightpink;
}

.experience-item2 {
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    background-color: lightgray;
}

.experience-item3 {
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    background-color: lightgreen;
}



.half-width img {
    width: 70%;
}

.black1 {
    font-size: 40px;
    color: blue;
}

.half-width1 {
    text-align: justify;
    width: 50%;
    padding-left: 50px;
    padding-right: 80px;
}

.flexible-container1 {
    padding-top: 50px;
    display: flex;
}

.button6 {
    width: 50%;
    text-align: center;
}

.black2 {
    padding-top: 70px;
    text-align: center;
    color: blue
}

.black3 {
    text-align: center;
    font-size: 50px;
}

.button7 {
    font-size: 20px;
    background-color: tomato;
    color: white;
}

.button8 {
    font-size: 20px;
    background-color: tomato;
    color: white;
}

footer {
    text-align: center;
    font-size: 50px;
    color: rgb(243, 29, 14);
    font-style: inherit;
    padding-top: 100px
}